@page "/plates"
@rendermode InteractiveServer

<PageTitle>CarrPlay - Plates</PageTitle>

<h1>Plates</h1>

<ul>
    @foreach (var carPlate in carPlates)
    {
        <li>@carPlate.Id | @carPlate.GetFormattedLicense() | @carPlate.CreatedAt</li>
    }
</ul>

<input type="text" @bind="plateString" />
<input type="text" @bind="country" />
<button @onclick="AddPlate">Add Plate</button>

@code {
    @using client.Models;
    private List<Plate> carPlates = new();

    string plateString = "";
    string country = "";

    protected override void OnInitialized()
    {
        carPlates.AddRange(new List<Plate>{
new Plate { Id = Guid.NewGuid(), PlateString = "abc-def", Country = "LT" },
new Plate { Id = Guid.NewGuid(), PlateString = "abc-def", Country = "DE" },
});
    }

    void AddPlate()
    {
        if (!string.IsNullOrWhiteSpace(plateString) && !string.IsNullOrWhiteSpace(country))
        {
            carPlates.Add(new Plate { Id = Guid.NewGuid(), PlateString = plateString, Country = country });
            plateString = string.Empty;
            country = string.Empty;
        }
    }
}
